.line-display .one-line i.active{color:var(--red_nvx);}
.line-display .one-line i.accent{color:var(--green_nvx);}
.line-display .one-line i.accent.active{color:var(--red_nvx);}

circle.active{
  stroke: var(--red_nvx);
  stroke-width: 4px;
  stroke-opacity: 0.5;
}
circle.accent{
  fill:var(--green_nvx);
}

.metro-beat{
  font-size: 2em;
}

input.number{
  width:80%;
}

.flip-card {
  background-color: transparent;
  width:  100%;
  height: 100%;
  perspective: 1000px;
  margin-left: auto;
  margin-right: auto;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: auto;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  padding: 0 15px;
  color: black;
}

.line-display{width:100%;font-size: 70%;}
.line-display .one-line{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 5px 0;
}

a.metro-options{
  color: white;
  cursor: pointer;
  outline: none;
  height: 1.5em;
  display: flex;
  justify-content:right;
  align-items: center;
  font-size: 16px;
}

a.metro-options:hover{
  text-decoration: none;
}

.flip-card-back {
  transform: rotateY(180deg);
  border-radius:10px;
  overflow: hidden;
  font-size:10px;

  .flip-card-back-wrapper{
    height: 100%;
    padding:10px;
    // overflow-y: scroll;
    /* width */
    &::-webkit-scrollbar {
      width: 6px;
      right: 100px;
      border-radius:10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1;
      margin-right: 10px;
      border-radius:10px;
    }

    /* Handle */
    &::-webkit-scrollbar-thumb {
      background: #888;
      border-radius:10px;
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555;
      border-radius:10px;
    }

    .main{font-size: 14px;}

    .range-sub{margin: 15px 0 30px;}
    .range-sub .slidecontainer {
      width: 100%; /* Width of the outside container */
    }

    .range-sub input[type='range'] {
      -webkit-appearance: none;
      box-shadow: -3px 7px 10px 0px #00000040;
      border-radius: 20px;
      border: 1px solid var(--darkgray_nvx);
      height: 10px;
      width: 100%; 
      margin-top: 3px;
    }

    .range-sub input[type='range']::-webkit-slider-runnable-track {
      -webkit-appearance: none;
    }

    .range-sub input[type='range']::-webkit-slider-thumb {
      width: 20px;
      height: 20px;
      border-radius: 20px;
      -webkit-appearance: none;
      cursor: ew-resize;
      background:linear-gradient(180deg,var(--gray_prim), var(--gray_nvx)) !important;
      box-shadow: -20px 0 0 80px linear-gradient(180deg,var(--gray_prim), var(--gray_nvx)) !important;
    }

    .range-sub .col-2{font-size: 12px;}

    input.number{
      border-radius: 15px;
      border: none;
      width: 40px;
      margin: 0 10px 0 5px;
    }

    .apply-btns{
      flex-direction: column;
      align-items: flex-start;
    }

    .apply-btns input.number{
      border-radius: 15px;
      border: none;
      width: 40px;
      margin: 0;
    }

    .apply-btns h6{margin-top: 1rem;}

    .apply-btns .switch {
      position: relative;
      display: inline-block;
      width: 25px; 
      height: 14.8px;
      margin-bottom: 0px;
    }
    .apply-btns .switch input {opacity: 0;width: 0;height: 0;}

    .apply-btns .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: var(--blue_nvx);
      -webkit-transition: .4s;
      transition: .4s;
    }
    .apply-btns .slider:before, 
    .apply-btns .slider .eighth
    .apply-btns .slider .sixteenth{
      position: absolute;
      content: "";
      height: 13px;
      width: 13px;
      left: 0.5px;
      top: 0.5px;
      background-color: white;
      -webkit-transition: .4s;
      transition: .4s;
    }

    .apply-btns .slider span{
      background: none;
      font-size: 12px;
      position: absolute;
      top: 0px;
      color: #fff;
      z-index: 0;
      font-family: "nvxChord";
      line-height: 1.4em;
    }
    .apply-btns .slider.classic span{
      font-weight: bold;
      font-family: "Roboto";
      font-size: 11px;
      height: 15px;
    }
    .apply-btns .slider .number{left: 3px;}
    .apply-btns .slider .letter{left:13.5px;}
    .apply-btns .slider.classic .number{left: 4px;}
    .apply-btns .slider.classic .letter{left: 14px;}

    .apply-btns .switch-titled.wrapper{
      display: flex;
      flex-direction: row;
      align-items:center;
      margin-bottom: 2px;
      justify-content: flex-start;
    }
    .apply-btns .switch-titled.position{justify-content:center;}
    .apply-btns .switch-titled.position.options_menu{    
      background-color: #343a40 !important;
      color: white;
      position: unset;
      height: 100%;
      right: 100%;
      width: auto;
      min-width: 0;
      color: white;
      padding-top: 0;
    }
    .apply-btns .switch-titled.position.options_menu input[type="checkbox"]{vertical-align: text-bottom;margin-left: 5px;}
    .apply-btns .switch-titled.position.options_menu input[type="checkbox"]:after{width: 15px;height: 15px;top: -1px;left: 0px;}    
    .apply-btns .title{font-size: 10px; margin-left: 1rem; width: 120px; text-align: left;}

    .apply-btns input:checked + .slider {background-color: var(--green_nvx);}
    .apply-btns input:focus + .slider {box-shadow: 0 0 1px var(--green_nvx);}
    .apply-btns input:checked + .slider:before {
      -webkit-transform: translateX(10px);
      -ms-transform: translateX(10px);
      transform: translateX(10px);
    }

    .apply-btns .slider.round {border-radius: 34px; font-size: 0.5em;}
    .apply-btns .slider.round:before {border-radius: 50%; z-index: 1;}

    .apply-btns.emphasis .row-emph .select select{margin: 0;}
    .apply-btns.emphasis .row-emph .select select:nth-child(1){margin-right: 15px;}
    .apply-btns.emphasis .row-emph .select{display: flex; align-items: center; margin-bottom: 2px; margin-left: 15px;}
    .apply-btns.emphasis .row-emph{width: 100%;display: flex;}


    .apply-btns .metro-selector{
      border-radius: 10px;
      font-size: 12px;
      background: #343a40;
      color: #fff;
      border: 1px solid #fff;
      height: -webkit-fit-content;
      height: -moz-fit-content;
      height: fit-content;
    }
    .apply-btns .metro-selector:focus-visible{
      outline: none;
    }

    .apply-btns .wrapper{
      display: flex;
      align-items: center;
      width: 50%;
      margin-top: 3px;
    }

  }//wrapper
}

@keyframes changeLetter {
  0% {
    // content: "A";
    // transform:matrix(1 0 0 -1 25 25);
    transform:scale(1);
  }
  50% {
    // color: red;
    transform:scale(1.5);
    // transform:matrix(2 0 0 -2 5 25);
  }
  100% {
    // content: "B";
    transform:scale(2);
  }
}

.letter-changer {
  animation: changeLetter 0.5s linear infinite alternate;
}


#tempo-slider {
  /*
    position: relative is needed for the handle to be
    positioned correctly, and border-radius: 100% just
    makes the div round.
  */
  position: relative;
  border-radius: 100%;

  /* Other than the above two, go wild! */
  height: 300px;
  width: 300px;
  background: linear-gradient(90deg, #FF9A9E, #FAD0C4);
}

/*
  Probably best to paste this exactly as is.
  These CSS rules make sure that the handle rotates
  properly, so don't change anything here.
*/
.cs-handle-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  height: 2px;
  margin-top: -1px;
}

/* Also paste as is */
.cs-handle {
  position: absolute;
  transform: translateY(-50%);
}

/* the appearance of the handle, feel free to change! */
#tempo-slider .cs-handle {
  height: 30px;
  width: 30px;
  /*
    Change 'right' to change the offset from the edge.
    E.g right: 0 puts the handle just next to the edge
    of #slider, on the inside
  */
  right: -15px;
  cursor: default;
  border-radius: 100%;
  background: linear-gradient(180deg, #FFFFFF, #efefef);
  box-shadow: rgba(0, 0, 0, 0.3) 0 1px 10px 0;
}

#tempo-slider .cs-handle:active {
  background: linear-gradient(180deg, #EBEBEB, #DFDFDF)
}