section#browse{
  width: 100%;
  min-height: 150px;
  max-height: 105vh;
  overflow: auto;
  padding: 0 5%;
  font-size: .7em;
}

section#browse input{
	width:100%;
}

section#browse .song{
  background-color:var(--light_prim);
  &.pair{
    background-color:var(--gray_prim);
  }
  a{
    color: #000000;
    opacity: 1 !important;
    font-size: 1.2em;
  }
  i{
    color: var(--green_nvx);
  }

}
section#browse .song:hover{filter:drop-shadow(2px 2px 3px black);}

section#browse th{
  padding-left: 10px;
  font-size: 1.5em;
  font-variant: all-petite-caps;
}

section#browse td.list-icons:first-child {
  display: flex;
}
section#browse td:first-child {
  border-top-left-radius: 10px; 
  border-bottom-left-radius: 10px;
}
section#browse td:last-child {
    border-bottom-right-radius: 10px; 
    border-top-right-radius: 10px; 
}

section#browse td {
  padding: 10px;
}

section#browse td input, section#browse td input:focus-visible{
  border: none;
  border-bottom: 1px solid black;
  outline: none;
}

/*** Search Highlight ***/
/*** Works on common browsers ***/
section#browse td input::selection {
  background-color: var(--blue_nvx)!important;
  color: #fff;
}

/*** Mozilla based browsers ***/
section#browse td input::-moz-selection {
  background-color: var(--blue_nvx)!important;
  color: #fff;
}

/***For Other Browsers ***/
section#browse td input::-o-selection {
  background-color: var(--blue_nvx)!important;
  color: #fff;
}

section#browse td input::-ms-selection {
  background-color: var(--blue_nvx)!important;
  color: #fff;
}

/*** For Webkit ***/
section#browse td input::-webkit-selection {
  background-color: var(--blue_nvx)!important;
  color: #fff;
}


section#browse a{
  color:var(--dark_prim);
}

section#browse .fakebook-modal{
	position: fixed;
  // top: 100px;
  left: 0;
  z-index: 1050;
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
  justify-content: center;
  align-items:center;
  background: #0000005c;
}

section#browse .fakebook-modal .modal-dialog{width: 100%; height: auto;}
section#browse .fakebook-modal .modal-header{background: #ed1c243b;}

section#browse .fa-times, section#browse .fa-list, section#browse .fa-table{
  font-size: 1.5em;
  cursor: pointer;
}
section#browse a i.fa-times:hover, section#browse a i.fa-list:hover, section#browse a i.fa-table:hover{color: var(--green_nvx);}
section#browse a i.fa{vertical-align: middle;}

section#browse a i.fa-trash:hover{color: var(--red_nvx);}
section#browse a i.fa-chart-bar:hover{color: var(--blue_nvx);}
section#browse a i.fa-trash, section#browse a i.fa-chart-bar, section#browse a i.fa-lock{padding: 15px 0;}


section#browse .icons{display: flex;justify-content: space-between;}
section#browse .icons a:nth-last-child(1){margin-left: 10px;}
section#browse .song-img{cursor: pointer; width: 50px;height: 50px; object-fit: cover;}


section#browse .display-style{display: flex; flex-direction: row; justify-content: center;}
section#browse .fa-list{padding-right: 10px;}

section#browse .clickable-row{cursor: pointer;}

section#browse .blocks-list{margin-top: 5vh;}
section#browse .blocks-list .icons{justify-content: space-evenly;}
section#browse .blocks-list .icons a{margin: 0;}
section#browse .blocks-list .icons .fa{color: var(--green_nvx); font-size: 1.2rem;padding-right: 15px;}
section#browse .blocks-list .icons .fa-trash:hover{color: var(--red_nvx);}
section#browse .blocks-list .icons .fa-chart-bar:hover{color: var(--blue_nvx);}
section#browse .blocks-list .score-button{display: flex; justify-content: center;}
section#browse .blocks-list .btn-success{
    background: var(--green_nvx);
    color: #fff;
    border: 2px solid var(--green_nvx);
    padding: 10px 28px;
    margin-right: 4px;
    margin-bottom: 4px;
    font-family: Open Sans,Arial,sans-serif;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 700;
    border-radius: 0;
    transition: .5s;
    border-radius: 4px;
    cursor: pointer;
}
section#browse .blocks-list .btn-success:hover {
    background: #45c46f;
    border-color: #45c46f;
}

section#browse .blocks-list .btn-success.lock{
  background: #a5a5a5;
  color: #c9c9c9;
  border: 2px solid #a5a5a5;
}
section#browse .blocks-list .btn-success.lock:hover {
    background: #a5a5a5;
    border-color: #a5a5a5;
}

section#browse .card {max-width: 250px; margin: 0 30px;}
section#browse .card-title{margin-top: 15px;}
section#browse .card-body{padding: 0px 1.25rem;}
section#browse .card-footer{border-top: none;}
section#browse .card-img-top{width: 250px; height: 250px; max-height: 250px; max-width: 250px; object-fit: cover;}

section#browse .card h5{font-size: 1.05rem;}

section#browse .menu-list{position: sticky; background: #fff;top: 0px;z-index: 0;width: 100%;}
section#browse .menu-card{
  position: sticky;
  z-index: 0;
  background: #fff;
  width: 100%;
  display: flex;
  margin: auto;
  justify-content: center;
}