/* Converted from vendor/gitlab_braid/braid.component.scss */

section#braid-tonal .greenCircle {
  opacity: 0.5;
  vector-effect: none;
  fill: none;
  fill-opacity: 1;
  stroke: #769987;
  stroke-width: 22.09639931;
  stroke-linecap: butt;
  stroke-linejoin: round;
  stroke-miterlimit: 4;
  stroke-dasharray: none;
  stroke-dashoffset: 0;
  stroke-opacity: 1;
  transition: all 0.25s ease;
}

section#braid-tonal .greenCircle.active {
  stroke: var(--green_nvx) !important;
  filter: url(#f2) saturate(2.5) drop-shadow(2px 4px 6px black);
}

section#braid-tonal .largeCircle {
  fill: none;
  stroke-miterlimit: 5.9;
  stroke-width: 0.15;
  stroke: #000;
}

section#braid-tonal .rect-arrow {
  fill: url("#greyGradient");
  stroke-width: 0.15px;
}

section#braid-tonal .rect-arrow.erase {
  fill: #343a40;
  stroke: #000;
  animation: transitionClassic 0.25s forwards;
}

@keyframes transitionClassic {
    0% {fill: url("#greyGradient");}
    8% {fill: url("#greyGradient0");}
    16% {fill: url("#greyGradient1");}
    24% {fill: url("#greyGradient2");}
    32% {fill: url("#greyGradient3");}
    40% {fill: url("#greyGradient4");}
    48% {fill: url("#greyGradient5");}
    56% {fill: url("#greyGradient6");}
    64% {fill: url("#greyGradient7");}
    72% {fill: url("#greyGradient8");}
    80% {fill: url("#greyGradient9");}
    88% {fill: url("#eraseGradient");}
    96% {fill: url("#eraseGradient");}
    100% {fill: url("#eraseGradient"); stroke: #000;}
}

section#braid-tonal .bub {
  cursor: zoom-in;
}
section#braid-tonal .bub.zoom {
  transform: scale(2) translate(2px, -15px);
  transition: 0.5s;
}
section#braid-tonal .bub.zoom .comma {
  z-index: 9998;
}
section#braid-tonal .bub.zoom text {
  font-size: 0.9em;
  transition: 2s;
  z-index: 9999;
}

section#braid-tonal .smallBubble {
  fill: url("#greyGradient");
}

section#braid-tonal .smallBubble text {
  font-family: "nvxChord";
  fill: black;
  font-size: 0.7em;
  text-anchor: left;
}

section#braid-tonal .smallBubble text.duo {
  font-size: 0.85em;
}

section#braid-tonal .smallBubble text.duo.roman {
  font-size: 0.7em;
}

section#braid-tonal .medBubble {
  fill: url("#greyGradient");
  transition: all 0.25s ease;
}

section#braid-tonal .medBubble circle {
  fill: red;
  paint-order: markers fill stroke;
  stroke-linecap: round;
  stroke-width: 2;
  stroke: #fb6161;
}

section#braid-tonal .medBubble text.right {
  text-anchor: start;
  fill: black;
  font-family: "nvxChord";
  font-size: 0.9em;
  word-spacing: 0px;
}

section#braid-tonal .medBubble text.left {
  text-anchor: end;
  fill: black;
  font-family: "nvxChord";
  font-size: 0.9em;
  word-spacing: 0px;
}

section#braid-tonal .medBubble text.center {
  text-anchor: end;
  fill: black;
  font-family: "nvxChord";
  font-size: 0.9em;
  word-spacing: 0px;
}

section#braid-tonal .medBubble text.left.roman,
section#braid-tonal .medBubble text.center.roman {
  font-size: 0.7em;
}

section#braid-tonal .medBubble text.right.duo {
  font-size: 1.4em;
}

section#braid-tonal .medBubble text.left.duo {
  font-size: 1.4em;
}

section#braid-tonal .medBubble text.left.duo.roman {
  font-size: 1em;
}

section#braid-tonal .medBubble text.right.duo.roman {
  font-size: 1.2em;
}

section#braid-tonal .medBubble.active {
  fill: var(--lightblue_nvx) !important;
  filter: url(#f2) drop-shadow(4.5px 3px 3.5px var(--lightblue_nvx)) drop-shadow(-4.5px -3px 3.5px var(--lightblue_nvx)) !important;
}

section#braid-tonal .medBubble.midi_active {
  fill: var(--yellow_nvx) !important;
  filter: url(#f2) drop-shadow(4.5px 3px 3.5px var(--yellow_nvx)) drop-shadow(-4.5px -3px 3.5px var(--yellow_nvx)) !important;
}

section#braid-tonal .medBubble.midi_active_green {
  fill: var(--yellow_nvx) !important;
  filter: url(#f2) drop-shadow(4.5px 3px 3.5px var(--green_nvx)) drop-shadow(-4.5px -3px 3.5px var(--green_nvx)) !important;
}

section#braid-tonal .medBubble.erase {
  animation: transitionClassic 0.25s forwards;
}

section#braid-tonal .medBubble.erasenot {
  filter: drop-shadow(3px 4px 6px black) drop-shadow(-3px 4px 6px black);
}

section#braid-tonal .arrows-2 {
  fill: #3f4683;
  stroke-width: 0.15px;
  transition: all 0.25s ease;
}

section#braid-tonal .arrows-2.erase {
  fill: #343a40;
  stroke: #000;
}

section#braid-tonal .active .arrows-2 {
  fill: #1f27ff;
  filter: drop-shadow(0px 2px 4px #fff);
}

section#braid-tonal .midi_active .arrows-2 {
  fill: #f8f8b9;
  filter: drop-shadow(0px 2px 4px #fff);
}

section#braid-tonal .midi_active_green .arrows-2 {
  fill: #1f27ff;
  filter: drop-shadow(0px 2px 4px #fff);
}

section#braid-tonal .simpleShape {
  fill: none;
  stroke-miterlimit: 5.9;
  stroke-width: 0.15;
  stroke: #000;
}

section#braid-tonal .tona.erase .greenCircle {
  stroke: #424a52;
}