section#store{
	padding-top: 10vh;
    height: 100vh;
    overflow-y: auto;
}

section#store {
    .row, .card-deck, .card-deck .card{ 
        margin-left: auto; 
        margin-right: auto;
    }
}
