@font-face{
	font-family: "nvxChord";
	src: url("../../../assets/font/nvxFont.otf");
  }

::-webkit-scrollbar{
	height: 10px;
}
::-webkit-scrollbar-track {
	background: transparent !important; 
}

/* Handle */
::-webkit-scrollbar-thumb {
	// background: #888; 
	// background:linear-gradient(180deg,#ff8a00,#e52e71) !important;
	// background:linear-gradient(180deg,#28a745, #343a40) !important;
	background:linear-gradient(180deg,var(--green_nvx), var(--darkgray_nvx)) !important;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	// background: linear-gradient(180deg,#ff8a00,#e52e71) !important; 
	// background:linear-gradient(180deg,#28a745, #343a40) !important;
	background:linear-gradient(180deg,var(--green_nvx), var(--darkgray_nvx)) !important;
}

.chordstrip-and-selection-container{
	z-index: 100;
	display:block;
	// justify-content: center;
	align-items:center;
	position:fixed;
	left:0px;
	width:100%;
	height: 100px;
	overflow-y: hidden;
    overflow-x: overlay;
	&.show{
		bottom:45px !important;
	}
	bottom:45px;
}
.chordstrip-container{
	flex-direction: column;
	user-select: none;
	outline:none;
	background-color:#343a40;
}

.stripform-container{
	height: 105px; 
	position: relative; 
	left: 0px;
	width: 100%;
	overflow: auto;
	display: flex;
	flex-direction: row;
}

.stripform-container .card{
	display:flex;
	justify-content: center;
	// align-items: center; 
	flex-direction: row; 
	min-width: unset;
	background-color: var(--darkgray_nvx); 
	height: 90%;
	// &.selected{
	// 	background-color: #3fff0094; 
	// }
}

.stripform-container .card .card-body{
  padding: 3px 1.25rem;
  flex-direction: row;
  display: flex;
  border: 3px solid white;
  border-radius: 15px;
  height: 100%;
  height: -moz-available;          /* WebKit-based browsers will ignore this. */
  height: -webkit-stretch;  /* Mozilla-based browsers will ignore this. */
  height: stretch;
  &.selected{
	  background-color: #372dc7e0;
	}
}

.stripform-container .card .card-body h1{
	color: white;
	line-height: 1;
	font-family: 'nvxChord';
	font-size: 2rem;
	padding: 0 35px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-top:5px;
	margin-bottom:5px;
	&.selected{
		border-radius: 10px;
		box-shadow: inset 0px 0px 0px 5px #343a40;
		background-color: #343a40;
	}
}

.stripform-container .card .card-body img{
	width: 20px; 
	height: 20px; 
}

.selection-container{
	width: 100px;
    height: 100px;
    color: red;
    background: red;
    z-index: 10000;
    opacity: 0.5;
	position: absolute;
	border-radius: 10%;
}

.strip_measure_nb{
	position: absolute;
	left: 10px;
	top: 0;
	color: white;
	font-size: 1.5em;
}