.metro-infos{top: 90px;position: relative; margin-left: 100px;}
.metro-infos .fas{margin: 16px 0px;font-size: 25px;}  

/* on génère un élément :after lors du survol et du focus :*/

.metro-infos:hover::after,
.metro-infos:focus::after {
  content: attr(aria-label);  /* on affiche aria-label */
  position: absolute;
  top: -2.4em;
  left: 50%;
  transform: translateX(-20%); /* on centre horizontalement  */
  z-index: 1; /* pour s'afficher au dessus des éléments en position relative */
  white-space: nowrap;  /* on interdit le retour à la ligne */ 
}