section#editor{
  &:focus{
    outline:none;
  }

  user-select:none;
  background-color: #343a40!important;
  position: fixed;
  width: 36vw;
  height: 100%;
  top:0px;
  color:white;
  min-width: 271px;
  padding-top: 70px;

  .parts_container{

    height: 80vh;
    overflow: auto;

    /* width */
    &::-webkit-scrollbar {
      width: 10px;
    }

    /* Track */
    &::-webkit-scrollbar-track {
      background: #f1f1f1; 
    }
     
    /* Handle */
    &::-webkit-scrollbar-thumb {
      // background: #888; 
      background:linear-gradient(180deg,#ff8a00,#e52e71);
    }

    /* Handle on hover */
    &::-webkit-scrollbar-thumb:hover {
      background: #555; 
    }
  }


  i{
   color:white; 
    &.active{
      color:red;
    }
  }

  .main_col{
    position: absolute;
    width: 100%;

    .display{font-family:cursive;font-weight: 900; line-height: 10px; font-size: 1.2em;}
  }


  input{
    padding:0;
    background-color: transparent;
    color:white;
    border:none;
    border-radius: 0px;
    height: 1.6em;
  }

  .card-body{padding:0.3rem;}

  .form-control{
    font-size:1em;
    box-shadow: none;
  }

  /* Style the button that is used to open and close the collapsible content */
  .collapsible {
    color: white;
    cursor: pointer;
    margin-left: 5px;
    border-bottom: 1px solid white ;
    text-align: left;
    outline: none;
    height: 1.5em;
    display: flex;
  }

  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .collapsible:hover {
    background-color: transparent;
    text-decoration: none;
  }

  .score_infos{
    padding:10px 0;
    span{display: flex;justify-content: space-between;align-items: center;}
    label{width: 45%;margin: 0 5px 0 20px;}
  }

  .part-container{display: flex; align-items: baseline; overflow: auto;}
  .part-container .part-content{border:none;height: 1.7em;width:5em;justify-content:left;}
  .part-container .title{width: 100%;}
  .part-container .title .title-input{min-width: 35%;font-weight: 500;}
  .part-container .key .key-input{width:3em; text-align:center;}
  .part-container .meter .meter-input{width:4em;margin-left:auto;}

  .part.active{background-color: #37834c;}
  .part{padding: 5px;}

  span.measures span i.fa-angle-double-up:before{content: "\f102";}
  span.measures.collapsed span i.fa-angle-double-up:before{content: "\f103";}

  span.part-content a i.fa-angle-double-up:before{content: "\f102";}
  span.part-content.collapsed a i.fa-angle-double-up:before{content: "\f103";}


  /* Style the collapsible content. Note: hidden by default */
  .content {
    background-color: #343a40 !important;
    border:none;

    .fas{
      border:none;
      align-items:center;
    }

    .measure{
      border-left: 1px solid white !important;
      padding:0 10px;
      display: flex;
      flex-direction: column;
      margin-top: 5px;    
      outline:none;
      &.active{
        outline:none;
        background-color:var(--selection-transparent);
      }

      .measures-idx .idx{padding:5px;width:3em;}

      span{
        .collapse{
          width: 100%;
          flex-direction: row;
          justify-content: left;
          align-items: center;
        }
        display: flex;
        justify-content: left;
        align-items: center;
      }

      .measure_row{
        span{
          justify-content: center;
          align-items: center;
          background-color: #343a40!important;
          position: fixed;
          height: 100%;
          right: 100%;
          width: 36vw;
          min-width: 271px;
          top: 0px;
          color:white;
          padding-top: 75px;
          display:flex;
          flex-direction: column;
        }

        label{margin-right: 5px;}

        input[type='checkbox'] {
          width:1em;
          color: var(--light_prim);
        }
        
        input[type='checkbox']:after{
          width: 15px;
          height: 15px;
          top: 2px;
          left: 0px;
          bottom: 0px;
          right: 0px;
          position: relative;
          background-color: var(--light_prim);
          content: '';
          display: block;
          visibility: visible;
          border: 2px solid var(--light_prim);
          padding: 0;
          border: 2px solid var(--light_prim);
          border-radius: 3px;
        }

        input[type='checkbox']:checked:after {
          width: 15px;
          height: 15px;
          top: 2px;
          left: 0px;
          bottom: 0px;
          right: 0px;
          position: relative;
          background-color: var(--green_nvx);
          content: '';
          display: block;
          visibility: visible;
          border: 2px solid var(--light_prim);
          border: 2px solid var(--light_prim);
          border-radius: 3px;
        }

        display: flex;
        width: 100%;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: row;        
        &.show {
          display: flex;
        }
        &.collapsing {
          display: flex;
        }
      }

      .measure_chords{
        display: flex;
        justify-content: center;
        align-items: baseline;
        flex-grow:1;
      }

    }
  }

  //disable text in blue when selected
  ::selection {
      color: none;
      background: none;
  }
  /* For Mozilla Firefox */
  ::-moz-selection {
      color: none;
      background: none;
  }

  .icons{cursor: pointer;}
  .icons i.fa-plus{
    &:hover{
      color:var(--light_prim) !important;
    }
  }

  .icons i{
    &:hover{
      color:var(--green_nvx) !important;
    }
  }

  app-scale-selector{width: 100%;transform:scale(0.7);}

  .box_informations img{
    max-width: 150px;
    max-height: 150px;
    min-width: 150px;
    min-height: 150px;
    object-fit: cover;
  }
      

  .fakebook-modal{
    position: fixed;
    // top: 100px;
    left: 0;
    z-index: 2050;
    display: flex;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
    min-width: 600px;
    justify-content: center;
    align-items:center;
    background: #0000005c;
  
    .modal-header{background: #2b399061;}
    
    // .modal-body{ }

    .modal-dialog{
      min-width:600px;
      width: 100%;
      height: auto;
    }
  }

}