::ng-deep midi-chord-detect-abc{
    overflow: hidden !important;
	min-height: 900px;
}

#midi-chord-detect-abc-style{
	// border: 1px solid black;
	// overflow: hidden;
	// margin-top: -220%;
	// position: absolute;
    bottom: 104px;
    min-height: 900px;
    overflow: hidden;
	padding-top: 40px;
}
// ::ng-deep svg{
// min-height: 500px;
// }

// ::ng-deep #midi-chord-detect-abc{
	// min-height: 500px;
// }


#abcChord{
	// border:1px solid red;
	height: 30vh;;
	top:-278px; // this is what shift to get second staves
	position:initial !important;
	& ::ng-deep svg{
		width:105px;
	}
}

.mask{
	// border:1px solid black;
	width:143px;
	height:52vh;
	overflow: hidden;
  	margin-top: -112px;
}


.doubleStaves{
	top:-489px;
	position: absolute;
}
.simpleStave{
	top:-230px;
	position: absolute;
}
